.form__labelText {
    display: inline-block;
    width: 80px;
    margin-right: 5px;
    color: #444;
    font-weight: bold;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 80px;
    border-radius: 20px;
}

.form__field--bigger {
    max-width: 250px;
}

.form__buttons {
    display: flex;
    justify-content: center;
}

.form__button {
    margin: 0 10px;
    background-color: hsl(240, 100%, 50%);
    color: white;
    padding: 10px 20px;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.7px;
    border: 2px solid transparent;
    border-radius: 20px;
}

.form__button:hover {
    background-color: white;
    color: hsl(240, 100%, 50%);
    border: 2px solid hsl(240, 100%, 50%);
    cursor: pointer;
}